body, html{
    width: 100%;
    height: 100%;
}
.az-content{
    width: 100%;
    min-height: 100%;
}
.az-buffer{
    width: 100%;
    height: 237px;
}
.az-footer{
    height: 237px;
    margin-top: -237px;
	position: relative;
}

/*menu*/
    #check_1{
        display: none;
    }
    .anz-perspective{
        position: fixed;
        top: 0px;
        height: 100%;
        -webkit-perspective: 500px; 
        perspective: 500px;
        z-index: 6;
    }
    .menu-list-pressed{
        
    }
    #check_1:checked ~ .anz-perspective{
        transition: all 1s ease-in-out;
        left: 0px;
    }
    #check_1 ~ .anz-perspective{
        transition: all 1s ease-in-out;
        left: -250px;
    }

    #check_1:checked ~ .anz-perspective .menu-list-pressed{
        transition: all 1s ease-in-out;
        transform: rotateY(0deg);
    }
    #check_1 ~ .anz-perspective .menu-list-pressed{
        transition: all 1s ease-in-out;
        transform: rotateY(90deg);
    }

    #check_1 ~ .anz-menu-ch .fa-bars{
        display: block;
    }
    #check_1 ~ .anz-menu-ch .fa-times{
        display: none;
    }
    #check_1:checked ~ .anz-menu-ch .fa-bars{
        display: none;
    }
    #check_1:checked ~ .anz-menu-ch .fa-times{
        display: block;
    }
    .menu-list-pressed {
        //position: fixed;
        //padding: 40px 50px;
        
    }
    .anz-menu{
        //cursor: pointer;
        //font-size: 28px;
    }

    .anz-menu-ch{
        cursor: pointer; 
        // position: absolute;
        // right: 15px;
        // top: 0px;
        // z-index: 3;
    }
/*menu*/

/*menu styles*/
.anz-menu{
    text-align: right;
}
.az-header1{
    padding-top: 40px;
}
.menu-list-pressed{
    border: 1px solid #000;
    width: 250px;
    height: 100%;
    font-family: "HelveticaNeue-Light";
    font-size: 22px;
    padding: 30px;
    line-height: 40px;
    background: #fff;
}
.anz-menu-ch{
    display: inline-block;
    width: 41px;
    height: 43px;
    background: url(../img/az-menu.png) no-repeat top left;
}
.anz-menu-ch_style{
    background: url(../img/az-menu2.png) no-repeat top left;
}
.main-menu{
    text-align: left;
    a{
        color: #000;
        position: relative;
        display: inline-block;
    }
    a:before{
        position: absolute;
        top: 0px;
        left: 0px;
        content: '';
        width: 0%;
        height: 3px;
        background: #cd1719;
        transition: width 0.5s ease-in-out;
    }
    a:hover:before{
        width: 100%;
    }
}
.az-head-span{
    font-family: "HelveticaNeue-Medium";
    font-size: 20px;
    line-height: 26px;
    color: #000;
}
.az-head-span_style{
    color: #fff;
}
/*menu styles*/

/*slider*/
.white-dot{
    border: 1px solid white !important;
}
.white-dot.active{
    background: white !important;
}
.white-left{
    background: url(../img/ab-left.png) no-repeat top left !important;
}
.white-right{
    background: url(../img/ab-right.png) no-repeat top left !important;
}

/*slider*/


/*margins*/
.az-margin-bottom45{
    margin-bottom: 45px;
}
.az-margin-bottom20{
    margin-bottom: 20px;
}
@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
    .anz-menu-ch{
        right: 0px;
    }
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}